.musica {
    width: 100%;
    max-width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.559);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 20px;
}

 audio {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
}